#!/bin/bash
{{ pwd }}/wp-cli.phar core install --allow-root --url="localhost/wordpress/" --title="Po Liu" --admin_user="root" --admin_password="{{ mysql_password }}" --admin_email="po.liu.2s@gmail.com" --path=`/var/www/wordpress`